<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    package="com.example.test3">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/horn_blue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Splash_Screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>
        <activity android:name=".MainActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".teacher_activity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".student_activity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".upload"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".download"/>
        <activity android:name=".about"/>
        <activity android:name=".report"/>
        <activity android:name=".notice"
                  android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".show_notice"/>
        <activity android:name=".stud_attendance"/>
        <activity android:name=".recent_notice"/>
        <activity android:name=".recent_assignment"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".timetable"/>
        <activity android:name=".sell_books"/>
        <activity android:name=".buy_books"/>
        <activity android:name=".sell_books_history"/>
        <activity android:name=".download_each"/>
        <activity android:name=".recent_assignment_each" />
        <activity android:name=".settings"/>
        <activity android:name=".mark_attendance"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>


</manifest>